<!-- Navigation -->
<a id="logo" class="navbar-brand logo-image" href="{{ path('index') }}">
	<img src="{{ asset('assets/img/logo.png') }}" alt="Bilemo">
</a>

<!-- Mobile Menu Toggle Button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-awesome fas fa-bars"></span>
	<span class="navbar-toggler-awesome fas fa-times"></span>
</button>
<!-- end of mobile menu toggle button -->

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link page-scroll" href="{{ path('index') }}">ACCUEIL
				<span class="sr-only">(current)</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link page-scroll" href="{{ url('app.swagger_ui') }}">DOCUMENTATION</a>
		</li>
	</ul>
</div>
