{% extends "base.html.twig" %}

{% block title %}Activation de compte
{% endblock %}

{% block nav %}
	{% include "_partials/nav.html.twig" %}
{% endblock %}

{% block body %}
	<header id="header" class="header">
		<div class="header-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="text-container">
							<h1>API<br>
								<span id="js-rotating">Activation de compte</span>
							</h1>
							{% for label, messages in app.flashes %}
								{% for message in messages %}
									<p class="p-large">{{ message }}</p>
								{% endfor %}
							{% endfor %}
						</div>
					</div>
					<div class="col-lg-6">
						<div class="image-container">
							<img class="img-fluid" src="{{ asset('assets/img/screenshot-1.png') }}" alt="alternative">
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
