{% extends 'base.html.twig' %}

{% block nav %}
	{% include "_partials/nav.html.twig" %}
{% endblock %}

{% block body %}
	<!-- Header -->
	<header id="header" class="header">
		<div class="header-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="text-container">
							<h1>API
								<br>POUR LES
								<span id="js-rotating">DESIGNERS, MARKETEUX, DEVELOPPEURS</span>
							</h1>
							<p class="p-large">Retrouvez tout le catalogue des smartphones et leur caractéristqiues techniques disponibles chez Bilemo depuis la nuit des temps.</p>
							<a class="btn-solid-lg page-scroll" href="{{ url('app.swagger_ui') }}">DOCUMENTATION</a>
							<!--<a class="btn-solid-lg page-scroll" href="#your-link">CONTACT</a>-->
						</div>
					</div>
					<div class="col-lg-6">
						<div class="image-container">
							<img class="img-fluid" src="{{ asset('assets/img/screenshot-1.png') }}" alt="alternative">
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
