body {
    margin: 70px 0 0;
    background: #f0f0f0;
}

header #logo {
    clear: both;
    left: 0;
    position: static;
    transform: none;
}
header:before {
    background-color:#2C1A7E;
    height:125px;
}
header #logo img {
    background-color: transparent;
    height: auto;
}
.navbar-custom .navbar-brand.logo-image img {
    width: 113px;
    height: auto;
    margin-bottom: 1px;
}
#swagger-ui.api-platform .information-container.wrapper {
    padding-top:80px;
    margin-bottom: 0;
}
#swagger-ui.api-platform .info .title {
    color: #2C1A7E;
}
.swagger-ui table tbody .parameters-col_name {
    width: 20% !important;
}
.col {
    width:auto;
}
.swagger-ui .markdown p {
    color: #000;
}