<!DOCTYPE html PUBLIC "-//W3C//DTDHTML4.01Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

	<head>
		<!--[if gte mso 9]><xml>
		            <o:OfficeDocumentSettings>
		                <o:AllowPNG/>
		                <o:PixelsPerInch>96</o:PixelsPerInch>
		            </o:OfficeDocumentSettings>
		        </xml><![endif]-->
		<!-- fix outlook zooming on 120 DPI windows devices -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="format-detection" content="date=no">
		<meta name="format-detection" content="telephone=no">
		<!-- disable auto telephone linking in iOS 7-9 -->
		<title>Activation account Bilemo</title>

		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
				-ms-text-size-adjust: 100%;
				-webkit-text-size-adjust: 100%;
			}
			table {
				border-spacing: 0;
			}
			table td {
				border-collapse: collapse;
			}
			table {
				mso-table-lspace: 0;
				mso-table-rspace: 0;
			}
			img {
				-ms-interpolation-mode: bicubic;
			}

			.yshortcuts a {
				border-bottom: none !important;
			}
			@media screen and(max-width: 599px) {
				.container {
					width: 100% !important;
					max-width: 100% !important;
				}
			}
			@media screen and(max-width: 400px) {
				.container-padding {
					padding-left: 12px !important;
					padding-right: 12px !important;
				}
			}
			.ios-footer a {
				color: #aaaaaa !important;
				text-decoration: underline;
			}
			a[href^="x-apple-data-detectors:"],
			a[x-apple-data-detectors] {
				color: inherit !important;
				text-decoration: none !important;
				font-size: inherit !important;
				font-family: inherit !important;
				font-weight: inherit !important;
				line-height: inherit !important;
			}
		</style>
	</head>

	<body
		bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

		<!-- 100% background wrapper (grey background) -->
		<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0">
			<tr>
				<td align="center" valign="top" bgcolor="#F0F0F0" style="background-color: #F0F0F0;">
					<br>
					<table border="0" width="600" cellpadding="0" cellspacing="0" class="container" style="width:600px;max-width:600px">
						<tr>
							<td class="container-padding header" align="center" style="font-family:Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;padding-bottom:12px;color:#C3B9EA;padding-left:24px;padding-right:24px">
								<img src="{{ absolute_url(asset("assets/img")) }}/bilemo.png" alt="Logo Bilemo">
							</td>
						</tr>
						<tr>
							<td class="container-padding content" align="left" style="padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:12px;background-color:#ffffff">
								<br>
								<div class="title">Cher client
									{{ name }},<br/></div>
								<br>
								<div class="body-text">
									Félicitations, vous êtes bien enregistré sur l'API Bilemo !<br/><br/>
									Votre compte ne sera actif qu'après avoir envoyé votre confirmation en cliquant sur le lien suivant :
									<a href="{{ absolute_url(path('confirm_register', {'token': token })) }}" target="_blank">
										Activer mon compte</a><br/>
									<i>(copier-collez le dans la barre d 'adresse de votre navigateur si cela ne fonctionnait pas).</i><br/><br/>
									Ne tardez pas, ce lien n'est valable que 30 minutes.
									<br/>
									<br/>
									Cordialement,
									<h3>Bilemo<h3></div>
									</td>
								</tr>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
