<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Projet de formation OpenClassRooms : Bilemo">
		<meta name="robots" content="none"/>
		<title>
			{% block title %}Bilemo{% endblock %}
		</title>

		{% block stylesheets %}
			<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
			<link
			rel="stylesheet" href="{{ asset('assets/fonts/font-awesome/css/all.css') }}"/>
			<!-- font-awesome icon -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link
			rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
		<!-- Animate -->
		{% endblock %}

		<!-- Favicon  -->
		<link rel="icon" href="{{ asset('assets/img/favicon.png') }}">

	</head>
	<body>
		{# Nav #}
		<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top"> 
            {% block nav %}{% endblock %}
		</nav>

        {# Body #}
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/js/morphext.min.js') }}"></script>
            <script src="{{ asset('assets/js/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
