{% extends "base.html.twig" %}

{% block title %}Erreur 404 {% endblock %}

{% block nav %}{% endblock %}

{% block body %}
	<div class="container-fluid page-error page-error p-0 m-0">
		<div class="row page-error-inner page-404">
			<div class="col-12">
				<div class="content col-lg-3 d-flex flex-column justify-content-center">
					<p class="large text-center">404</p>
					<p class="text text-center text-light">La page que vous recherchez n'existe pas !</p>
					<p class="text-center">
						<a href="{{ path('index') }}" class="btn btn-dark">Retour à l'accueil</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}{% endblock %}
